{{/* /themes/Au/layouts/partials/head.html */}}

{{/* ... other <head> content like <title>, <meta charset>, etc. ... */}}

<link rel="icon" type="image/png" href="{{ "/favicon-96x96.png" | relURL }}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | relURL }}" />
<link rel="shortcut icon" href="{{ "/favicon.ico" | relURL }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relURL }}" />

<meta name="apple-mobile-web-app-title" content="{{ .Site.Title | default "Jewelry" }}" />

<link rel="manifest" href="{{ "/site.webmanifest" | relURL }}" />

{{/* ... other <head> content like your CSS links ... */}}