{{/* 1. Define image path and alt text */}}
{{- $path := .Get 0 -}}
{{- $alt := .Get 1 -}}

{{- with $.Page.Resources.GetMatch $path }}
    {{- $image := . -}}

    {{/* 2. Process images to create smaller, web-optimized sizes */}}
    {{- $small := $image.Resize "600x" -}}      
    {{- $medium := $image.Resize "1200x" -}}    
    {{- $large := $image.Resize "1800x" -}}     

    {{/* 3. Construct the srcset string */}}
    {{- $srcset := printf "%s %dw, %s %dw, %s %dw" 
        $small.RelPermalink $small.Width 
        $medium.RelPermalink $medium.Width 
        $large.RelPermalink $large.Width 
    -}}

    <figure class="post-figure">
        <a href="{{ $image.RelPermalink }}" title="{{ $alt }}">
            <img 
                src="{{ $small.RelPermalink }}"  
                srcset="{{ $srcset }}" 
                {{/* 4. The sizes attribute tells the browser how much space the image will take */}}
                sizes="(max-width: 600px) 100vw, 
                       (max-width: 1200px) 90vw,
                       1200px"
                alt="{{ $alt }}"
                width="{{ $large.Width }}" 
                height="{{ $large.Height }}"
            />
        </a>
        <figcaption>{{ $alt }}</figcaption>
    </figure>
{{- end }}