{{ define "main" }}

<section class="taxonomy-terms-section">
    <h2 class="list-heading">{{ .Title }} Index</h2>

    {{/* Render any optional introductory content from content/collections/_index.md */}}
    {{ .Content }}

    <div class="terms-list-wrapper">
        {{/* Loop through all terms in the 'collection' taxonomy, alphabetical order */}}
        {{ range .Data.Terms.Alphabetical }}
        <p class="collection-term">
            {{/* Use RelPermalink for robust, site-relative linking */}}
            <a href="{{ .Page.RelPermalink }}">
                {{ .Page.Title }} 
            </a>
            <span class ="count">({{ .Count }})</span>
        </p>
        {{ end }}
    </div>
</section>

{{ end }}