// themes/Au/assets/css/_tags.scss

@use 'variables' as vars;

.tag {
    background-color: vars.$charcoal-dark; 
    border: 1px solid vars.$gold-accent; 
    color: vars.$gold-accent; 
    
    display: inline-block;
    padding: vars.$spacing-xs vars.$spacing-sm; 
    font-size: 0.9em;
    text-decoration: none;
    
    border-radius: 3px; 
    transition: all 0.2s ease-in-out; 
    cursor: pointer;
}

.tag:hover {
    background-color: vars.$gold-accent; 
    color: vars.$charcoal-dark;
    text-decoration: none; 
}