<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ printf "%s | %s" .Title .Site.Title }}{{ end }}</title>
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="robots" content="noindex, nofollow">

<meta name="description" content="{{- with .Page.Description -}} {{ . }} {{- else -}} {{ .Site.Params.description }} {{- end -}}">

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
{{ partialCached "head/icon.html" . }}
