<section class="home-links-grid">
 
  <h2 class="section-title">Collaborations</h2>
 
  <div class="links-grid">
   
    <article class="link-item">
      <h3 class="link-title">
        <a href="{{ "collaborations/qlue" | relURL }}">Qlue</a>
      </h3>
      <p>A detailed look at completed commissions and metal sculptures, demonstrating technical mastery and artistic vision.</p>
    </article>

    <article class="link-item">
      <h3 class="link-title">
        <a href="{{ "collaborations/occ" | relURL }}">Operation Chiinchilla</a>
      </h3>
      <p>Case studies detailing technical solutions and partnerships with other designers and clients.</p>
    </article>

<!--
    <article class="link-item">
      <h3 class="link-title">
        <a href="{{ "categories/bracelets" | relURL }}">Bracelets</a>
      </h3>
      <p>Learn about my creative process, inspirations, and the dedication behind every piece of art jewelry.</p>
    </article>

    <article class="link-item">
      <h3 class="link-title">
        <a href="{{ "categories/earrings" | relURL }}">Earrings</a>
      </h3>
      <p>A resource of insights into my methods, materials, and specialized metalsmithing techniques.</p>
    </article>

      <article class="link-item cta-resume">
      <h3 class="link-title">
        <a href="{{ "categories/rings" | relURL }}">Rings</a>
      </h3>
      <p>View my full credentials, exhibitions, and professional experience.</p>
    </article>

    -->
  </div>
</section>